#image {
  width: 250px;
  height: 230px;
}
blockquote {
  background-color: tomato;
  font-family: 'Gotu', sans-serif;
}
#myProfile {
  background-color: turquoise;
}
.githubName {
  font-family: 'Comic Neue', cursive;
}
h1 {
  font-family: 'Gotu', sans-serif;
}
.list {
  font-family: 'Open Sans Condensed', sans-serif;
}