<link href="https://fonts.googleapis.com/css?family=Comic+Neue&display=swap" rel="stylesheet">

<div id="myProfile" class="card" class="row">
  <div class="col-md-5">   
    <h1>Github Username: <p class="githubName" >{{UserName.LoginName}}</p> </h1> 
    <p><img src="{{UserName.Avatar}}" class="img-circle" id="image" img="responsive" alt="profileImg"></p>      
  </div>
  <div   class="com-md-5 " >
    <h1>List of my Public Repos: </h1>
    <ul>
      <li>akan-project</li>
      <li>delani-studio-project</li>
      <li>delani_studio_site</li>
      <li>Github-Search</li>
      <li>goals</li>
      <li>happy-trails</li>
      <li>my-first-webpage</li>
      <li>pizza-project</li>
      <li>programming-portfolio</li>
      <li>quotes</li>
      <li>readme</li>
      <li>test-gh-pages-branching</li>
    </ul>
  </div>
</div>
<hr>
<div>
  <app-search-form></app-search-form>
</div>
<hr>
<blockquote class="blockquote text-center">
  <img src="{{UserName.ProfilePic}}" class="img-circle" img="responsive" alt="profileImg">
  <p class="mb-0" > Username: <b class="githubName" >{{UserName.UserName}}</b>  </p>
  <p class="mb-0" > Number of Repositories: {{UserName.NumberRepo}} </p>
  <p class="mb-0" > <strong>List of Repositories:</strong>  </p>
  <ul *ngFor = 'let Repoz of Repozz' >
    <li> {{Repoz.repository}}</li>
  </ul>  
</blockquote>
